<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easthome.mapper.StyleMapper">
    <select id="findAllByStyle" resultType="Style">
        select * from style
    </select>

    <select id="findByGoodsId" parameterType="String" resultType="Style">
        select * from style where style_id = #{param1}
    </select>
</mapper>